{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- if section.settings.image_height == 'adapt' and section.settings.image != blank -%}
  {%- style -%}
    @media screen and (min-width: 750px) and (max-width: 1440px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 150}}% !important;
      }
    }
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before,
      #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        {%- if section.settings.image_2 != blank -%}
          padding-bottom: {{ 1 | divided_by: section.settings.image_2.aspect_ratio | times: 100 }}%;
        {%- else -%}
          padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        {%- endif -%}
        content: '';
        display: block;
      }
    }
    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100}}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }

  @media screen and (min-width: 750px) {
    #Banner-{{ section.id }} .banner__box {
      max-width: {{ section.settings.box_max_width }}px;
    }
  }

  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'heading' -%}
        #Banner-{{ section.id }} .banner__heading {
          margin-bottom: {{ block.settings.margin_bottom_mobile }}px;
        }
        @media screen and (min-width: 750px) {
          #Banner-{{ section.id }} .banner__heading {
            margin-bottom: {{ block.settings.margin_bottom }}px;
          }
        }
      {%- when 'subheading' -%}
        #Banner-{{ section.id }} .banner__subheading {
          margin-bottom: {{ block.settings.margin_bottom_mobile }}px;
          font-size: {{ block.settings.subheading_size_mobile | replace: 'f_', '' | append: 'px' }};
        }
        @media screen and (min-width: 750px) {
          #Banner-{{ section.id }} .banner__subheading {
            margin-bottom: {{ block.settings.margin_bottom }}px;
            font-size: {{ block.settings.subheading_size_desktop | replace: 'f_', '' | append: 'px' }};
          }
        }
      {%- when 'text' -%}
        #Banner-{{ section.id }} .banner__text {
          margin-bottom: {{ block.settings.margin_bottom_mobile }}px;
        }
        #Banner-{{ section.id }} .banner__text,
        #Banner-{{ section.id }} .banner__text p {
          font-size: {{ block.settings.font_size_mobile | replace: 'f_', '' | append: 'px' }};
        }
        @media screen and (min-width: 750px) {
          #Banner-{{ section.id }} .banner__text {
            margin-bottom: {{ block.settings.margin_bottom }}px;
          }
          #Banner-{{ section.id }} .banner__text,
          #Banner-{{ section.id }} .banner__text p {
            font-size: {{ block.settings.font_size_desktop | replace: 'f_', '' | append: 'px' }};
          }
        }
      {%- when 'buttons' -%}
        #Banner-{{ section.id }} .banner__buttons {
          margin-bottom: {{ block.settings.margin_bottom_mobile }}px;
        }
        {%- if block.settings.button_full_width_mobile -%}
          @media screen and (max-width: 749px) {
            #Banner-{{ section.id }} .banner__buttons {
              width: 100%;
            }
            #Banner-{{ section.id }} .banner__buttons .button {
              width: 100%;
              max-width: 100%;
            }
          }
        {%- endif -%}
        @media screen and (min-width: 750px) {
          #Banner-{{ section.id }} .banner__buttons {
            margin-bottom: {{ block.settings.margin_bottom }}px;
          }
        }
    {%- endcase -%}
  {%- endfor -%}
{%- endstyle -%}

{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'

  if section.settings.image_behavior == 'ambient'
    assign half_width = '60vw'
    assign full_width = '120vw'
    assign stacked_sizes = '(min-width: 750px) 60vw, 120vw'
    assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
  elsif section.settings.image_behavior == 'fixed' or section.settings.image_behavior == 'zoom-in'
    assign half_width = '100vw'
    assign stacked_sizes = '100vw'
  else
    assign half_width = '50vw'
    assign stacked_sizes = '(min-width: 750px) 50vw, 100vw'
  endif
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}
<div class="{% if section.settings.section_width == 'boxed' %} page-width {% else %} section_full-width {% endif %}">
  <div
    id="Banner-{{ section.id }}"
    class="banner banner_sec banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.image_height == 'adapt' and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
  >
    {%- if section.settings.image != blank -%}
      <div class="banner__media media_1 media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        {%- liquid
          assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
          if section.settings.image_2 != blank
            assign image_class = 'banner__media-image-half'
          endif
          if section.settings.image_2 != blank and section.settings.stack_images_on_mobile
            assign sizes = stacked_sizes
          elsif section.settings.image_2 != blank
            assign sizes = half_width
          else
            assign sizes = full_width
          endif
        -%}
        {{
          section.settings.image
          | image_url: width: 3840
          | image_tag:
            width: section.settings.image.width,
            height: image_height,
            class: image_class,
            sizes: sizes,
            widths: widths,
            fetchpriority: fetch_priority
        }}
      </div>
    {%- endif -%}
    {%- if section.settings.image_2 != blank -%}
      <div class="banner__media media_2 media{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        {%- liquid
          assign image_height_2 = section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio
          if section.settings.image != blank
            assign image_class_2 = 'banner__media-image-half'
          endif
          if section.settings.image != blank and section.settings.stack_images_on_mobile
            assign sizes = stacked_sizes
          elsif section.settings.image_2 != blank
            assign sizes = half_width
          else
            assign sizes = full_width
          endif
        -%}
        {{
          section.settings.image_2
          | image_url: width: 3840
          | image_tag:
            width: section.settings.image_2.width,
            height: image_height_2,
            class: image_class_2,
            sizes: sizes,
            widths: widths,
            fetchpriority: fetch_priority
        }}
      </div>
    {%- endif -%}
    <div class="banner__content banner__content--{{ section.settings.desktop_content_position }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="container">
        <div class="banner__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'subheading' -%}
                <{{ block.settings.subheading_tag }}
                  class="banner__subheading {% if block.settings.subheading_uppercase %} text_uppercase {% endif %}{{ block.settings.subheading_tag }}"
                  {{ block.shopify_attributes }}
                >
                  {{ block.settings.subheading }}
                </{{ block.settings.subheading_tag }}>
              {%- when 'heading' -%}
                {%- liquid
                  assign heading_content = block.settings.heading | replace: '<p>', '' | replace: '</p>', ''
                  assign heading_content_mobile = block.settings.heading_mobile | replace: '<p>', '' | replace: '</p>', ''
                -%}
                <{{ block.settings.heading_size }}
                  class="font_600 {% if block.settings.heading_uppercase %}text_uppercase {% endif %}banner__heading inline-richtext {{ block.settings.heading_size }}"
                  {{ block.shopify_attributes }}
                >
                  {%- if block.settings.heading_mobile != blank -%}
                    <span class="small-hide {{ block.settings.heading_font_size }}">{{ heading_content }}</span>
                    <span class="medium-hide large-up-hide {{ block.settings.heading_font_size_mobile | default: block.settings.heading_font_size }}">
                      {{- heading_content_mobile -}}
                    </span>
                  {%- else -%}
                    <span class="{{ block.settings.heading_font_size }}">{{ heading_content }}</span>
                  {%- endif -%}
                </{{ block.settings.heading_size }}>
              {%- when 'text' -%}
                <div
                  class="banner__text rte font_400 {{ block.settings.text_style }}"
                  {{ block.shopify_attributes }}
                >
                  {{ block.settings.text }}
                </div>
              {%- when 'buttons' -%}
                <div
                  class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
                  {{ block.shopify_attributes }}
                >
                  {%- if block.settings.button_label_1 != blank -%}
                    <a
                      {% if block.settings.button_link_1 == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.button_link_1 }}"
                      {% endif %}
                      class="button f_18 font_700 text_uppercase {% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
                    >
                      {{- block.settings.button_label_1 | escape -}}
                    </a>
                  {%- endif -%}
                  {%- if block.settings.button_label_2 != blank -%}
                    <a
                      {% if block.settings.button_link_2 == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.button_link_2 }}"
                      {% endif %}
                      class="button f_18 font_700 text_uppercase {% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                    >
                      {{- block.settings.button_label_2 | escape -}}
                    </a>
                  {%- endif -%}
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner.settings.image_2.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner.settings.image_height.label",
      "info": "t:sections.image-banner.settings.image_height.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.image-banner.settings.desktop_content_position.label",
      "info": "Controls the position of the content box on the banner."
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_box.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label",
      "info": "Controls the alignment of the text inside the box."
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "boxed",
          "label": "Boxed"
        },
        {
          "value": "full-width",
          "label": "Full Width"
        }
      ],
      "default": "boxed",
      "label": "Section Width"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.all.animation.image_behavior.options__3.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.mobile.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    },
    {
      "type": "range",
      "id": "box_max_width",
      "min": 400,
      "max": 1200,
      "step": 10,
      "unit": "px",
      "label": "Banner Box Max Width (Desktop)",
      "default": 900
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_below.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "default": "<p>Image banner</p>",
          "label": "Heading (Desktop)"
        },
        {
          "type": "richtext",
          "id": "heading_mobile",
          "label": "Heading (Mobile)"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "select",
          "id": "heading_font_size",
          "options": [
            {
              "value": "f_28",
              "label": "28px"
            },
            {
              "value": "f_32",
              "label": "32px"
            },
            {
              "value": "f_36",
              "label": "36px"
            },
            {
              "value": "f_40",
              "label": "40px"
            }
          ],
          "default": "f_32",
          "label": "Font size (Desktop)"
        },
        {
          "type": "select",
          "id": "heading_font_size_mobile",
          "options": [
            {
              "value": "f_18",
              "label": "18px"
            },
            {
              "value": "f_20",
              "label": "20px"
            },
            {
              "value": "f_24",
              "label": "24px"
            },
            {
              "value": "f_28",
              "label": "28px"
            },
            {
              "value": "f_32",
              "label": "32px"
            }
          ],
          "default": "f_24",
          "label": "Font size (Mobile)"
        },
        {
          "type": "checkbox",
          "id": "heading_uppercase",
          "default": false,
          "label": "Uppercase"
        },
        {
          "type": "header",
          "content": "Margin Bottom"
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Margin Bottom (Desktop)",
          "default": 0
        },
        {
          "type": "range",
          "id": "margin_bottom_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Margin Bottom (Mobile)",
          "default": 0
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Subheading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "subheading",
          "default": "Subheading",
          "label": "Subheading"
        },
        {
          "type": "checkbox",
          "id": "subheading_uppercase",
          "default": false,
          "label": "Uppercase"
        },
        {
          "type": "select",
          "id": "subheading_tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "p",
              "label": "P"
            }
          ],
          "default": "h1",
          "label": "Subheading Tag"
        },
        {
          "type": "select",
          "id": "subheading_size_desktop",
          "options": [
            {
              "value": "f_12",
              "label": "12px"
            },
            {
              "value": "f_14",
              "label": "14px"
            },
            {
              "value": "f_16",
              "label": "16px"
            },
            {
              "value": "f_18",
              "label": "18px"
            },
            {
              "value": "f_20",
              "label": "20px"
            }
          ],
          "default": "f_14",
          "label": "Subheading Size (Desktop)"
        },
        {
          "type": "select",
          "id": "subheading_size_mobile",
          "options": [
            {
              "value": "f_12",
              "label": "12px"
            },
            {
              "value": "f_14",
              "label": "14px"
            },
            {
              "value": "f_16",
              "label": "16px"
            },
            {
              "value": "f_18",
              "label": "18px"
            },
            {
              "value": "f_20",
              "label": "20px"
            }
          ],
          "default": "f_14",
          "label": "Subheading Size (Mobile)"
        },
        {
          "type": "header",
          "content": "Margin Bottom"
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Margin Bottom (Desktop)",
          "default": 0
        },
        {
          "type": "range",
          "id": "margin_bottom_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Margin Bottom (Mobile)",
          "default": 0
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Give customers details about the banner image(s) or content on the template.</p>",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "font_size_desktop",
          "label": "Font size (Desktop)",
          "options": [
            { "value": "f_12", "label": "12px" },
            { "value": "f_14", "label": "14px" },
            { "value": "f_16", "label": "16px" },
            { "value": "f_18", "label": "18px" }
          ],
          "default": "f_18"
        },
        {
          "type": "select",
          "id": "font_size_mobile",
          "label": "Font size (Mobile)",
          "options": [
            { "value": "f_12", "label": "12px" },
            { "value": "f_14", "label": "14px" },
            { "value": "f_16", "label": "16px" },
            { "value": "f_18", "label": "18px" }
          ],
          "default": "f_16"
        },
        {
          "type": "header",
          "content": "Margin Bottom"
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Margin Bottom (Desktop)",
          "default": 0
        },
        {
          "type": "range",
          "id": "margin_bottom_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Margin Bottom (Mobile)",
          "default": 0
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_full_width_mobile",
          "default": false,
          "label": "Full width button (Mobile)"
        },
        {
          "type": "header",
          "content": "Margin Bottom"
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Margin Bottom (Desktop)",
          "default": 0
        },
        {
          "type": "range",
          "id": "margin_bottom_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Margin Bottom (Mobile)",
          "default": 0
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
