{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: 40px;
    padding-bottom: 29px;
    position: relative;
  }
:root {
  --star-size: 30px;
  --star-color: #fff;
  --star-background: #fc0;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block !important;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}
.Stars::before {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
{% for block in section.blocks %}
  {% if block.settings.lft_img_bg != blank %}
  .image-box.bg_{{ block.id }}{
    background-image: url('{{ block.settings.lft_img_bg | img_url:'master' }}');
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  {% endif %}
  {% endfor %}
  {% if section.settings.back_image_mobile %}
   .what-client-says.section-{{ section.id }}-padding{
   background:url('{{ section.settings.back_image_mobile | img_url:'master' }}');
   background-position:top right;
   background-repeat:no-repeat;
   background-size:cover;
   }
{% endif %}
  @media screen and (min-width: 750px) {
      {% if section.settings.back_image %}
   .what-client-says.section-{{ section.id }}-padding{
   background:url('{{ section.settings.back_image | img_url:'master' }}');
   background-position:top center;
   background-repeat:no-repeat;
   background-size:cover;
   }
    {% endif %}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<section class="what-client-says section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="container">
      <div class="inner">
        <div class="top-heading">
          <h2 class="hdng f_38 conthrax font_600 text_uppercase text-center m0">{{ section.settings.title }}</h2>
        </div>
        <div class="section_slider">
        {% for block in section.blocks %}
          <div class="item">
            <div class="image-box bg_{{ block.id }}">
              <img src="{{ block.settings.lft_img | img_url:'master' }}" class="cstm-img" height="" width="" loading="lazy"/>
            </div>
            <div class="description">
              <div class="section_button">
                <div class="image">
                <img src="{{ section.settings.icon_logo | img_url:'master' }}" height="" width="" loading="lazy"></div>
                <di class="butn_box">
                  <div class="prev-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39" fill="none">
                      <circle cx="19.5" cy="19.5" r="19.5" fill="black"/>
                      <path d="M23 27L15 19L23 11" stroke="white" stroke-width="3"/>
                    </svg>
                  </div>
                  <div class="next-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39" fill="none">
                      <circle cx="19.5" cy="19.5" r="19.5" fill="black"/>
                      <path d="M16 27L24 19L16 11" stroke="white" stroke-width="3"/>
                    </svg>
                  </div>
                </di>
              </div>
            <div class="description_box" {% if block.settings.review_back_img %}style="background-color: #33A9FE !important; background:url('{{ block.settings.review_back_img | img_url:'master' }}'); background-position:95% 85%; background-repeat:no-repeat; background-size:85px;"{% endif %}>
              <p class="desc m0 text_capitalize f_18 font_500 font_italic clr_wht">{{ block.settings.review }}</p>
              <div class="author">
                {% if block.settings.auth_img != blank %}
                  <img src="{{ block.settings.auth_img | img_url: 'master' }}" class="cstm-img" height="" width="" loading="lazy"/>
                {% endif %}
                <div class="auth-detail">
                  <div class="Stars" style="--rating: {{ section.settings.rating }};"></div>
                  <p class="auth-name m0 clr_wht f_22 font_700 text_capitalize">{{ block.settings.auth_name }}</p>
                  <p class="auth-designation m0 clr_wht f_18 font_500 font_italic text_capitalize">{{ block.settings.auth_prof }}</p>
                </div>
              </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<script>
$('.what-client-says .inner .section_slider').slick({
  infinite: true,
  slidesToShow: 1,
  slidesToScroll: 1,
  prevArrow: '.prev-btn',
  nextArrow: '.next-btn',
});
</script>
{% schema %}
  {
    "name": "What Client Says",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
    {
      "type": "range",
      "id": "rating",
      "min": 1,
      "max": 5,
      "step": 1,
      "label": "Stars rating",
      "default": 5
    },
      {
        "type": "image_picker",
        "id": "back_image",
        "label": "Choose Background image"
      },
      {
        "type": "image_picker",
        "id": "back_image_mobile",
        "label": "Choose Background Mobile"
      },
      {
        "type": "image_picker",
        "id": "icon_logo",
        "label": "Choose icon logo"
      },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
      
    ],
  "blocks": [
    {
      "type": "review",
      "name": "review",
      "settings": [
        {
          "type": "image_picker",
          "id": "review_back_img",
          "label": "Choose Review Background Image"
        },
        {
          "type": "image_picker",
          "id": "lft_img_bg",
          "label": "Choose Background image"
        },
        {
          "type": "image_picker",
          "id": "lft_img",
          "label": "Choose Image"
        },
        {
          "type": "textarea",
          "id": "review",
          "label": "Review"
        },
        {
          "type": "image_picker",
          "id": "auth_img",
          "label": "Choose Author Image"
        },
        {
          "type": "text",
          "id": "auth_name",
          "label": "Author Name"
        },
        {
          "type": "text",
          "id": "auth_prof",
          "label": "Author"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "What Client Says",
      "category": "custom"
    }
  ]
}
{% endschema %}